!!! 5
html
  head
    title MYOURLS
    link(rel='icon', type='image/gif', href='/images/favicon.gif')
    script(src='/javascripts/jquery-1.5.2.min.js', type='text/javascript')
    script(src='/javascripts/jquery.tablesorter.min.js', type='text/javascript')
    script(src='/javascripts/insert.js', type='text/javascript')
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css', media='screen')
    link(rel='stylesheet', href='/stylesheets/tablesorter.css', tpe='text/css', media='screen')
  body(class='index')
    h1
      a(href='/', title='MYOURLS')
        span MYOURLS
        | :
        span MY
        span O
        | wn
        span URL
        span S
        | hortener
        br
        img(src='/images/yourls-logo.png', alt='MYOURLS', title='MYOURLS', style='border: 0px;')

